.field {
    align-self: center;
    justify-self: center;
    display: inline-grid;
    grid-template-columns: repeat(3, auto);
    gap: 3px;
    border: 3px solid #333;
    background-color: #333;
}

.field__box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1px;
    background-color: #ccc;
}

.field__cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: 60px;
    font-weight: 500;
    color: #000;
    line-height: 1;
    user-select: none;
    background-color: #fff;
}

.field__cell:not(.field__cell--hardwired) {
    color: var(--main-dark-color);
}

.field__cell-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.field__cell--active .field__cell-borders {
    border: var(--border-width) solid var(--border-color);
}

.field__cell-hovercell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: calc(var(--cell-size) - 10px);
    height: calc(var(--cell-size) - 10px);
    background-color: transparent;
}

.field__cell-corner-mark,
.numpad__btn--corner {
    position: absolute;
    display: block;
    font-size: 20px;
    line-height: 1;
}

.field__cell-corner-mark--1,
.numpad__btn--corner-1 {
    top: 8px;
    left: 8px;
}

.field__cell-corner-mark--2,
.numpad__btn--corner-2 {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.field__cell-corner-mark--3,
.numpad__btn--corner-3 {
    top: 8px;
    right: 8px;
}

.field__cell-corner-mark--4,
.numpad__btn--corner-4 {
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.field__cell-corner-mark--5,
.numpad__btn--corner-5 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field__cell-corner-mark--6,
.numpad__btn--corner-6 {
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.field__cell-corner-mark--7,
.numpad__btn--corner-7 {
    bottom: 8px;
    left: 8px;
}

.field__cell-corner-mark--8,
.numpad__btn--corner-8 {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.field__cell-corner-mark--9,
.numpad__btn--corner-9 {
    bottom: 8px;
    right: 8px;
}

.field__cell-centers,
.field__cell-center-mark {
    font-size: 20px;
    line-height: 1;
}

.field__cell--active + .field__cell--active:not(:nth-child(9n + 1)) .field__cell-borders {
    border-left: none;
    left: -9px;
}

.field__cell--active:not(:nth-child(9n)):has(+ .field__cell--active) .field__cell-borders {
    border-right: none;
    right: -9px;
}

.field__cell--active:nth-child(3n):not(:nth-child(9n)) + .field__cell--active .field__cell-borders {
    border-left: none;
    left: -12px;
}

.field__cell--active:nth-child(3n):not(:nth-child(9n)):has(+ .field__cell--active) .field__cell-borders {
    border-right: none;
    right: -12px;
}

@for $i from 1 through 81 {
    .field__cell--active[data-num="#{$i}"]
        ~ .field__cell--active[data-num="#{$i + 9}"]
        .field__cell-borders {
        border-top: none;
        top: -9px;
    }

    .field__cell--active[data-num="#{$i}"]:has(
            ~ .field__cell--active[data-num="#{$i + 9}"]
        )
        .field__cell-borders {
        border-bottom: none;
        bottom: -9px;
    }
}
